@use '../variables' as v;

.infos-bar{
    padding: 16px 24px;
    background-color: v.$textColor;
    display: flex;
    justify-content: space-between;


    &__infos{
        display: flex;
        gap: 40px;

        &__item{
            font-size: 14px;
            color: v.$secondaryTextColor;

            b{
                font-size: 18px;
                display: block;
                color: v.$secondaryTextColor;
            }
        }
    }

    @media (max-width: 640px){
        flex-direction: column;
        gap: 16px;

        &__infos{
            gap: 16px;

            &__item{
                font-size: 12px;

                b{
                    font-size: 16px;
                }
            }
            
        }
    }

    @media (max-width: 1024px){
        gap: 16px;
    }
}